<div class="inbox" id="inbox">
  <div class="row">
    <div class="col-xs-4">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{ messages.length }}</span>
          Messages
        </li>
        <li class="list-group-item">
          <span class="badge badge-warning">{{ unreads.length }}</span>
          Unread
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-refresh"></span>
          <a class="inbox-right-panel-anchor"
              v-on:click="listMessages()">
          Refresh
          </a>
        </li>
      </ul>

      <div class="list-group scroll-div-inbox-panel-left">
        <a class="list-group-item inbox-right-panel-anchor"
            v-for="message in messages"
            v-bind:class="message.read ? 'inbox-read' : 'inbox-not-read' "
            v-on:click="messageRead($event, message.id)">
          <h4 class="list-group-item-heading">{{ message.email }}</h4>
          <p class="list-group-item-text">{{ message.enquiry }}</p>
        </a>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="panel panel-default scroll-div-inbox-panel-right" 
            v-if="!messageIsEmpty()">
        <div class="panel-body">
          <div class="pull-right">
            <a class="inbox-right-panel-anchor"
                v-on:click="deleteMessage($event, message.id)">
            <span class="glyphicon glyphicon-trash" title="Delete"></span>
            </a>
          </div>
          <div><strong>Date:</strong> {{ message.created_at }}</div>
          <div><strong>From:</strong> {{ message.first_name }} {{ message.last_name }}</div>
          <div><strong>Mobile:</strong> {{ message.mobile_number }}</div>
          <div><strong>Email:</strong> {{ message.email }}</div>
          <br>
          <pre>{{ message.enquiry }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>