<div class="search-bar">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="search-bar-title text-center">
        <h2>YOU'RE ONE SEARCH AWAY FROM YOUR DREAM</h2>
      </div>
      <%= search_form_for @q, url: search_rmpost_index_url, 
                              html: {method: :post, 
                              class: "input-group input-group-lg"} do |form| %>
        <%= form.search_field :title_or_description_or_post_attributes_attribute_name_or_post_attributes_attribute_value_or_categories_category_name_cont, 
                              class: "form-control", 
                              placeholder: "Search for name, location or price..." %>
        <span class="input-group-btn">
          <%= form.button "Go!", class: "btn btn-primary", type: "submit" %>
        </span>
      <% end %>
    </div>
  </div>
</div>