<!-- <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" 
        class="btn btn-fb" 
        title="Share on Facebook" 
        target="_blank"><#%= fa_icon('facebook', text: 'SHARE') %></a> -->

<iframe src="https://www.facebook.com/plugins/like.php?href=<%= request.original_url %>&width=154&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId=610478122777500" 
        width="154" 
        height="46" 
        style="border:none;overflow:hidden" 
        scrolling="no" 
        frameborder="0" 
        allowTransparency="true" 
        allow="encrypted-media"></iframe>