<%= render 'shared/flash' if flash_list %>

<% unless params[:q].blank? && !@Search %>
  <% params[:q].each do |k,v| %>
    <h3>Search result for: <em><strong><%= v.blank? ? "_blank" : v  %></strong></em></h3>
  <% end %>
<% end %>

<% unless @posts.blank? %>
  <%= render 'shared/post_small_thumbnail', posts: @posts %>
<% else %>
  <div class="text-center">No post found</div>
<% end %>