<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/errors', obj: @post_attribute %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Editing Post Attribute</h1>
      </div>
      <div class="panel-body">
        <%= render 'form', post_attribute: @post_attribute, action: 'update' %>
      </div>
    </div>
  </div>
</div>
