<div class="panel panel-default">
  <div class="panel-body">

    <h1>New Post Attribute</h1>

    <%= render 'form', post_attribute: @post_attribute, action: 'create' %>

    <%= link_to 'Back', edit_post_url(id: params[:post_id]) %>

  </div>
</div>
