<footer class="page-footer">
  <div class="container">
    <div class="text-center">
      <a href="#contactModal" data-toggle="modal">CONTACT US <%= fa_icon("facebook-square") %> <%= fa_icon("phone-square") %></a>
    </div>
    <div class="text-center">
      Copyright &copy; <%= Time.now.year %> RM Real Estate Services
    </div>
  </div>
</footer>