<div class="property-specialists">
  <div class="container">
    <h2 class="text-center">&#x2654; PROPERTY SPECIALISTS &#x2654;</h2>
    <div class="row text-center">
      <div class="col-md-6">
        <div class="property-specialists-content">
          <img src="https://combite-real-estate.s3.amazonaws.com/public/romeo.jpg" 
                alt="romeo combite"
                class="img-circle">
          <h3>Romeo Morante Combite</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="property-specialists-content">
          <img src="https://combite-real-estate.s3.amazonaws.com/public/mechel.jpg" 
                alt="mechel combite"
                class="img-circle">
          <h3>Mechel Colaler Combite</h3>
        </div>
      </div>
    </div>
  </div>
</div>